# Data SQL Manipulation

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/js/anaconda3/envs/SpaceX/lib/python3.10/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/js/anaconda3/envs/SpaceX/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)

In [2]:
import mysql.connector as connection
data_db = connection.connect(host = '%env', user = '%env', password = '%env', db = '%env')
cursor = data_db.cursor()

cursor.execute('show databases')
cursor.fetchall()

[('ibm',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [3]:
cursor.execute('use ibm')
cursor.execute('show tables')
cursor.fetchall()

[('ChicagoCensusData',),
 ('ChicagoCrimeData_xsl',),
 ('ChicagoPublicSchools',),
 ('dataSet_part_1',),
 ('dataSet_part_2',)]

## SQL Queries

In [4]:
import pandas as pd

# extract all data
cursor.execute("select * from dataSet_part_1")
data = cursor.fetchall()
df = pd.DataFrame(data)

# find rows amount
count_row = df.shape[0]
print(count_row)

90

In [5]:
cursor.execute("select distinct LaunchSite from dataSet_part_1")
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)

              0
0  CCAFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

In [6]:
cursor.execute("select * from dataSet_part_1 where LaunchSite like 'CCA%' limit 5")
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)

   0           1         2            3    4             5          6   7   \
0   1  2010-06-04  Falcon 9  6104.959412  LEO  CCAFS SLC 40  None None   1
1   2  2012-05-22  Falcon 9   525.000000  LEO  CCAFS SLC 40  None None   1
2   3  2013-03-01  Falcon 9   677.000000  ISS  CCAFS SLC 40  None None   1
3   5  2013-12-03  Falcon 9  3170.000000  GTO  CCAFS SLC 40  None None   1
4   6  2014-01-06  Falcon 9  3325.000000  GTO  CCAFS SLC 40  None None   1

      8      9      10    11   12  13     14         15         16
0  False  False  False  None  1.0   0  B0003 -80.577366  28.561857
1  False  False  False  None  1.0   0  B0005 -80.577366  28.561857
2  False  False  False  None  1.0   0  B0007 -80.577366  28.561857
3  False  False  False  None  1.0   0  B1004 -80.577366  28.561857
4  False  False  False  None  1.0   0  B1005 -80.577366  28.561857

In [7]:
cursor.execute("select sum(PayloadMass) from dataSet_part_1 where Orbit = 'ISS'") # currently in my dataSet not customer NASA, so opted for ISS customer
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)

         0
0  68878.7

In [8]:
cursor.execute("select avg(PayloadMass) from dataSet_part_1 where BoosterVersion = 'Falcon 9' limit 5")
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)

             0
0  6104.959412

In [9]:
cursor.execute("select min(DATE) from dataSet_part_1 where Outcome = 'True ASDS'") # success
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)

            0
0  2016-04-08

In [10]:
cursor.execute("select Legs from dataSet_part_1") # currently in my dataSet not type of payload, so opted for Legs used => True || False
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)

        0
0   False
1   False
2   False
3   False
4   False
..    ...
85   True
86   True
87   True
88   True
89   True

[90 rows x 1 columns]

In [11]:
cursor.execute("select Outcome, count(*) as total_number from dataSet_part_1 group by Outcome") 
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)

             0   1
0    None None  19
1  False Ocean   2
2   True Ocean   5
3   False ASDS   6
4    None ASDS   2
5    True RTLS  14
6    True ASDS  41
7   False RTLS   1

In [12]:
cursor.execute("select BoosterVersion from dataSet_part_1 where PayloadMass = (select max(PayloadMass) from dataSet_part_1")
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1

In [ ]:
cursor.execute("select substring(Date,4,2) as month, Date, BoosterVersion, LaunchSite, Outcome from dataSet_part_1 where [Outcome] = 'Failure' and substring(Date, 7, 4) = '2015' ")
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)

In [ ]:
cursor.execute("select Outcome, count(*) as count_outcomes from dataSet_part_1 where Date between '04-06-2010' and '20-03-2017' group by Outcome") 
launch_data = cursor.fetchall()
df = pd.DataFrame(launch_data)
print(df)